<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!--  <p v-if="color === 'red'">
      stop
    </p>
    <p v-else-if="color === 'yellow'">
      cation
    </p>
    <p v-else-if="color === 'blue'">
      go
    </p>
    <p v-else>
      not red/yellow/blue
    </p>
    <p v-show="toggle">hello vue.js</p>
    <p>
    </p> -->
    <!--  <button v-on:click="counter++">
      Click!
    </button>
    <button v-on:click="clickHandler($event, 'vue.js')">
      Click2
    </button> -->
    <button @click="clickH">
      Now
    </button>
    <p>
      {{ message }}
    </p>
    <!-- keyの修飾子 -->
    <input type="text" v-on:keyup.27.space.up="clear" v-model="message">
    <p>
      {{ message }}
    </p>
    <button v-on:click="clickHandler">
      click1
    </button>
    <button @click="clickHandler">
      click2
    </button>
  </div>
  <script src="main.js"></script>
</body>

</html>
