<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- {{ new Date().toLocaleString() }}
    <a v-bind:href="url">techacademy</a>
    <input type="text" v-bind:value="name">
    <p>{{ name }}</p>
    <ul id="app">
      <li v-for="(member, index) in members" v-bind:key="index">
        {{ index }} {{ member }}
      </li>
    </ul> 
    <input v-bind:value="name" v-on:input="name = $event.target.value">
    <p>{{ name }}</p> -->

    <!--  <p>{{ message }}</p>
    <p>{{ number + 1 }}</p>
    <p>{{ message.split('').reverse().join('') }}</p>
    <p>{{ ok ? 'YES' : 'NO'}}</p>
    <p>{{ ok ? message : ''}}</p> -->
    <!--  <p>{{ price | numberFormat }}</p>

    <h2>v-bind</h2>
    <input type="text" v-bind:value="price | numberFormat">
    <p>

    <div>
      BMI: {{ getBmi() }}
    </div>
 -->
    <!--   <p>

      <button v-on:click="countUp()">{{ count }}回</button>
    </p>
    <p>現在時刻（メソッド）： {{ getDate() }}</p>
    <p>現在時刻（算出プロパティ）： {{ date }}</p>



    <ul class="tabs-menu">
      <li v-bind:class="{active: activeTab === 'tabs-1'}" v-on:click="activeTab = 'tabs-1'">
        tab1
      </li>
      <li v-bind:class="{active: activeTab === 'tabs-2'}" v-on:click="activeTab = 'tabs-2'">
        tab2
      </li>
      <li v-bind:class="{active: activeTab === 'tabs-3'}" v-on:click="activeTab = 'tabs-3'">
        tab3
      </li>
    </ul>
    <section class="tabs-content">
      <section v-if="activeTab === 'tabs-1'">
        <p>タブ１を内容が入ります。</p>
      </section>


      <section v-else-if="activeTab === 'tabs-2'">
        <p>タブ2を内容が入ります。</p>
      </section>


      <section v-else-if="activeTab === 'tabs-3'">
        <p>タブ3を内容が入ります。</p>
      </section>
      <section v-else>
        <p> タブを選択してください</p>
      </section>
    </section>
 -->

    <!--     <template v-if="tabs !== null">
      <ul class="tabs-menu">
        <li v-for="tab in tabs" v-bind:key='tab.id' v-bind:class="{active: activeTab.id === tab.id }"
          v-on:click="activeTab = tab">
          {{ tab.title }}
        </li>
      </ul>
      <section class="tabs-content">
        <section>
          <p>{{ activeTab.content }}</p>
        </section>
      </section>
    </template>
    <template v-else>
      <p>データを取得中です</p>
    </template> -->

    <template v-if="tabs !== null">
      <ul class="tabs-menu">
        <li v-for="tab in tabs" v-bind:key="tab.id" v-bind:class="{active: activeTab.id === tab.id}"
          v-on:click="activeTab = tab">
          {{ tab.title }}
        </li>
      </ul>
      <section class="tabs-content">
        <section>
          <p>{{ activeTab.content }}</p>
        </section>
      </section>
    </template>
    <template　v-else>
      <p>データを取得中</p>
    </template>
  </div>　
  <script src="main.js"></script>
</body>

</html>

<!-- 双方向バインディングするときはvonとvbindを使ってもいいがv-modelを使用することを推奨する -->


<!-- v-model="インスタンスのオプションに設定したプロパティ名と書くだけ -->
<!-- そのinput要素に関するイベントが発生したら指定したデータの値を更新するという処理が行われています。 -->

<!-- vーmodelディレクティブを使用することで、onとbindディレクティブの両方を使った場合と同じように双方向でーたバインディングを実行できます。 -->

<!-- 算出プロパティについて　-->
<!-- タブ機能を作成 -->
<!-- クリックされたタブの要素にactiveクラスを付与してそれに対応するコンテンツを表示する -->
<!-- 配列をもとにしたタブ作成について -->
