<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="example">
    <template v-if="tabs !== null">
      <ul class="tabs-menu">
        <li v-for="tab in tabs" v-bind:key="tab.key" v-bind:class="{active: activeTab.id === tab.id}"
          v-on:click="activeTab = tab">

          {{ tab.title }}
        </li>
      </ul>
      <section class="tabs-content">
        <section>
          <p>{{ activeTab.content }}</p>
        </section>
      </section>
    </template>
    <template v-else>
      <p>データを取得中です。</p>
    </template>
  </div>

  <script src="main.js"></script>
</body>

</html>
