<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!--   <div id="example">
    <template v-if="tabs !== null">
      <ul class="tabs-menu">
        <li v-for="tab in tabs" v-bind:key="tab.key" v-bind:class="{active: activeTab.id === tab.id}"
          v-on:click="activeTab = tab">

          {{ tab.title }}
        </li>
      </ul>
      <section class="tabs-content">
        <section>
          <p>{{ activeTab.content }}</p>
        </section>
      </section>
    </template>
    <template v-else>
      <p>データを取得中です。</p>
    </template>
  </div>
 -->
  <div id="example">
    <!--     <template v-if="tabs !== null">
      <ul class="tabs-menu">
        <li v-for="tab in tabs" v-bind:key="tab.id" v-bind:class="{active: activeTab.id === tab.id}"
          v-on:click="activeTab = tab">
          {{ tab.title }}
        </li>
        <section class="tabs-content">
          <section>
            <p>{{ activeTab.content }}</p>
          </section>
        </section>
      </ul>
    </template>
    <template v-else>
      <p>データを取得中です。</p>
    </template>
    <div v-some-test="2000">kieru</div>
    <div v-name="10000">kieru</div>
    <div v-change-color="''">変わります</div>
    <button-preference></button-preference>

    <button-preference v-bind:initial-count="0">すごいね</button-preference>
     -->


    <carousel>
      <slide><span class="label">スライド1の内容</span></slide>
      <slide><span class="label">スライド2の内容</span></slide>
      <slide><span class="label">スライド3の内容</span></slide>
      <slide><span class="label">スライド4の内容</span></slide>
    </carousel>
  </div>
  <script src="https://ssense.github.io/vue-carousel/js/vue-carousel.min.js"></script>
  <script src="main.js"></script>
</body>

</html>


<!-- createdというオプションを追加しています。ライフサイクルフックと呼ばれる関数の一つで
特定のタイミンぶで処理を行うことを目的にVueで用意されている -->
<!-- ローカル登録とされている -->
